@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100%;
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.content {
  flex: 1;
  margin-top: 20px;
}

.add-item input {
  margin: 5px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.add-item button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ff9ed6;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-item button:hover {
  background-color: rgb(139, 112, 148);
}

.item-list {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  width: 60%;
  box-sizing: border-box;
}

.item-list li:last-child {
  border-bottom: none;
}

.actions button {
  margin-left: 5px;
  padding: 5px 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  background-color: white;
}

.actions button:hover {
  opacity: 0.8;
}

.total {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}

.edit-input {
  margin: 5px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.clear-list-button {
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ff9ed6;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.clear-list-button:hover {
  background-color: #ff93d2;
}