@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@media (max-width: 600px) {
  .item-list li {
    width: 90%;
  }

  .actions {
    display: flex;
    flex-direction: column;
  }

}

body {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  padding-bottom: 40px;
  min-height: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.floating-button {
  position: fixed;
  bottom: 8%;
  right: 3%;
  width: 50px;
  height: 50px;
  background-color: #ff9ed6;
  color: white;
  border: none;
  border-radius: 50%;
  font-size: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.floating-button:hover {
  background-color: #ff93d2;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.empty-list {
  padding: 5%;
}

.empty-list p {
  margin: 0;
  color: #777;
}

.empty-list-icon {
  opacity: 0.3;
  width: 100px;
  height: 100px;
}