.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    background-color: #f1f1f1;
    border-top: 1px solid #ccc;
    position: fixed;
    bottom: 0;
    width: 100%;
}
  
.total-cost {
    flex: 1;
    text-align: left;
    padding-left: 15px;
    font-size: 16px;
}

.limit {
    flex: 1;
    text-align: left;
    padding-left: 15px;
    font-size: 16px;

}

.clear-list {
    width: 24px;
    height: 24px;
    margin-right: 2vh;
    cursor: pointer;
}